/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; width:100%; top:0; left:0; }
#container-wrap, #container { min-height:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode='csh'],body[class*=' scaled-width'][data-page-mode='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode='csv'],body[class*=' scaled-height'][data-page-mode='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode='csv'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}


#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
@media all and (-ms-high-contrast:none){ *::-ms-backdrop,.svg-img{width:100%;} }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }

.page {
	position:relative; float:left; height:100%; width:100%; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg { height:100%; width:100%}
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity: 0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; top:50%; overflow:visible;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

.mejs-mediaelement { overflow: hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit: fill; }
.mejs-coverfit video { object-fit: cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
nav#page-nav > #nextBtn { right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#000; }
:-webkit-full-screen { background:#000; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
#slider { width:1668px; height:2224px; }
.page { width:1668px; height:2224px; background: #fff !important; }
.paper-vertical { width:1668px; height:100%; }
.paper-horizontal { width:647708px; height:2224px; margin-top:-1112.00px; }
@media all and (max-height:2224px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1668px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;margin:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
#item101686 {
	width:1668px !important;
	height:2224px !important;
	background:#fff;
}

#item988 {
	width:569px !important;
	height:1398px !important;
	left:100px !important;
	top:460px !important;
}

#item42087 {
	width:54px !important;
	height:3px !important;
	left:100px !important;
	top:98px !important;
	background:#ff4847;
}

#item116963 {
	width:1074px !important;
	height:2224px !important;
	background:#f8f7fa;
}

#item101287 {
	width:54px !important;
	height:6px !important;
	left:912px !important;
	top:460px !important;
	background:#ed3333;
}

#item115939 {
	width:54px !important;
	height:6px !important;
	left:399px !important;
	top:1959px !important;
	background:#ed3333;
}

#item19874 {
	opacity:0.97;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#ed3333;
}

@keyframes flyinfromright-121772 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-121772 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item121773 {
	opacity:0.90;
	width:370px !important;
	height:2224px !important;
	background:#ffffff;
}

#item121832 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes fadein-121839 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-121839 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item121839 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes flyinfromright-119576 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-119576 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item119578 {
	opacity:0.90;
	width:370px !important;
	height:2224px !important;
	background:#ffffff;
}

#item119636 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes fadein-119643 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-119643 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item119643 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes flyinfromright-121875 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-121875 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item121876 {
	opacity:0.90;
	width:370px !important;
	height:2224px !important;
	background:#ffffff;
}

#item121933 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes fadein-121941 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-121941 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item121941 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes flyinfromright-121977 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-121977 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item121978 {
	opacity:0.90;
	width:370px !important;
	height:2224px !important;
	background:#ffffff;
}

#item122034 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes fadein-122043 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-122043 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item122043 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes flyinfromright-122091 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-122091 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item122092 {
	opacity:0.90;
	width:370px !important;
	height:2224px !important;
	background:#ffffff;
}

#item122149 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes fadein-122158 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-122158 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item122158 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

#item77961 {
	width:459px !important;
	height:61px !important;
	left:1182px !important;
	top:2116px !important;
	background:#fff;
}

@keyframes flyinfromright-122195 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-122195 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item122196 {
	opacity:0.90;
	width:370px !important;
	height:2224px !important;
	background:#ffffff;
}

#item122252 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes fadein-122262 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-122262 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item122262 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

#item73538 {
	width:54px !important;
	height:6px !important;
	left:608px !important;
	top:460px !important;
	background:#f43513;
}

@keyframes flyinfromright-122300 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-122300 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item122301 {
	opacity:0.90;
	width:370px !important;
	height:2224px !important;
	background:#ffffff;
}

#item122358 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes fadein-122365 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-122365 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item122365 {
	width:51px !important;
	height:52px !important;
	left:1568px !important;
	top:54px !important;
}

@keyframes moveleft-46991 {
	0% {
		transform:translate(314px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes moveleft-46991 {
	0% {
		-webkit-transform:translate(314px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item91173 {
	width:1668px !important;
	height:2224px !important;
	left:1px !important;
	top:1px !important;
	background:#ff4849;
}

#item92078 {
	width:54px !important;
	height:3px !important;
	left:100px !important;
	top:98px !important;
	background:#fff;
}

#item68354 {
	width:1668px !important;
	height:2224px !important;
	background:#d2b58d;
}

#item122591 {
	width:54px !important;
	height:3px !important;
	left:100px !important;
	top:98px !important;
	background:#ff4847;
}

@keyframes fadeout-122458 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes fadeout-122458 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@keyframes fadein-122514 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-122514 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item122514 {
	width:78px !important;
	height:78px !important;
	left:795px !important;
	top:1341px !important;
}

#item45780 {
	width:869px !important;
	height:649px !important;
	left:100px !important;
	top:1399px !important;
}

@keyframes spin-25839 {
	100% {transform:rotate(360deg);}
	0% {transform:rotate(0deg);}
}
@-webkit-keyframes spin-25839 {
	100% {-webkit-transform:rotate(360deg);}
	0% {-webkit-transform:rotate(0deg);}
}
@keyframes spin-25842 {
	100% {transform:rotate(360deg);}
	0% {transform:rotate(0deg);}
}
@-webkit-keyframes spin-25842 {
	100% {-webkit-transform:rotate(360deg);}
	0% {-webkit-transform:rotate(0deg);}
}
@keyframes spin-25843 {
	100% {transform:rotate(360deg);}
	0% {transform:rotate(0deg);}
}
@-webkit-keyframes spin-25843 {
	100% {-webkit-transform:rotate(360deg);}
	0% {-webkit-transform:rotate(0deg);}
}
#item78520 {
	width:570px !important;
	height:1242px !important;
	left:100px !important;
	top:460px !important;
}

#item73620 {
	width:233px !important;
	height:460px !important;
	left:-538px !important;
	top:412px !important;
	background:#000;
}

#item54099 {
	width:569px !important;
	height:1398px !important;
	left:999px !important;
	top:460px !important;
}

#item54157 {
	width:569px !important;
	height:828px !important;
	left:100px !important;
	top:1242px !important;
}

#item101744 {
	width:54px !important;
	height:3px !important;
	left:100px !important;
	top:98px !important;
	background:#ff4847;
}

#item115170 {
	width:4px !important;
	height:24px !important;
	left:1590px !important;
	top:72px !important;
	background:#ffffff;
}

#item87673 {
	width:54px !important;
	height:6px !important;
	left:608px !important;
	top:460px !important;
	background:#ff4849;
}

@keyframes flyinfromright-82355 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromright-82355 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
@keyframes flyinfromright-82289 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82289 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82306 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82306 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82297 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82297 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82293 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82293 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82370 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82370 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82308 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82308 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82309 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82309 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82291 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82291 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82310 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82310 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82299 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82299 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82312 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82312 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82300 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82300 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82313 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82313 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82323 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82323 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
@keyframes flyinfromright-82290 {
	0% {
		transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:0.2;
	}
}
@-webkit-keyframes flyinfromright-82290 {
	0% {
		-webkit-transform:translate(307px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:0.2;
	}
}
#item42654 {
	width:151px !important;
	height:232px !important;
	left:718px !important;
}

#item42661 {
	width:151px !important;
	height:187px !important;
	left:479px !important;
}

#item42669 {
	width:151px !important;
	height:187px !important;
	left:239px !important;
}

#item42676 {
	width:151px !important;
	height:232px !important;
}

#item75970 {
	width:54px !important;
	height:6px !important;
	left:608px !important;
	top:460px !important;
	background:#ff4849;
}

#item51238 {
	opacity:0.95;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#ed3333;
}

#item45803 {
	width:869px !important;
	height:184px !important;
	left:174px !important;
	top:1219px !important;
}

@keyframes spin-121764 {
	100% {transform:rotate(360deg);}
	0% {transform:rotate(0deg);}
}
@-webkit-keyframes spin-121764 {
	100% {-webkit-transform:rotate(360deg);}
	0% {-webkit-transform:rotate(0deg);}
}
#item122720 {
	width:1668px !important;
	height:2224px !important;
	background:#f8f7fa;
}

#item78483 {
	width:569px !important;
	height:1242px !important;
	left:699px !important;
	top:460px !important;
}

@keyframes fadeout-109096 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes fadeout-109096 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@keyframes fadein-122746 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-122746 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item122746 {
	width:78px !important;
	height:78px !important;
	left:795px !important;
	top:1322px !important;
}

#item109208 {
	width:54px !important;
	height:6px !important;
	left:608px !important;
	top:460px !important;
	background:#f43513;
}

@keyframes appear-122968 {
	0% {opacity:0;}
	8% {opacity:0;}
	17% {opacity:0;}
	24% {opacity:0;}
	32% {opacity:0;}
	39% {opacity:0;}
	47% {opacity:0;}
	54% {opacity:0;}
	63% {opacity:1;}
	69% {opacity:1;}
	78% {opacity:1;}
	85% {opacity:1;}
	93% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes appear-122968 {
	0% {opacity:0;}
	8% {opacity:0;}
	17% {opacity:0;}
	24% {opacity:0;}
	32% {opacity:0;}
	39% {opacity:0;}
	47% {opacity:0;}
	54% {opacity:0;}
	63% {opacity:1;}
	69% {opacity:1;}
	78% {opacity:1;}
	85% {opacity:1;}
	93% {opacity:1;}
	100% {opacity:1;}
}
@keyframes appear-122969 {
	0% {opacity:0;}
	7% {opacity:0;}
	19% {opacity:0;}
	25% {opacity:0;}
	31% {opacity:0;}
	42% {opacity:0;}
	47% {opacity:0;}
	54% {opacity:0;}
	60% {opacity:1;}
	71% {opacity:1;}
	76% {opacity:1;}
	82% {opacity:1;}
	94% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes appear-122969 {
	0% {opacity:0;}
	7% {opacity:0;}
	19% {opacity:0;}
	25% {opacity:0;}
	31% {opacity:0;}
	42% {opacity:0;}
	47% {opacity:0;}
	54% {opacity:0;}
	60% {opacity:1;}
	71% {opacity:1;}
	76% {opacity:1;}
	82% {opacity:1;}
	94% {opacity:1;}
	100% {opacity:1;}
}
@keyframes appear-123004 {
	0% {opacity:0;}
	6% {opacity:0;}
	18% {opacity:0;}
	22% {opacity:0;}
	32% {opacity:0;}
	40% {opacity:0;}
	49% {opacity:0;}
	53% {opacity:0;}
	61% {opacity:1;}
	69% {opacity:1;}
	79% {opacity:1;}
	83% {opacity:1;}
	96% {opacity:1;}
	100% {opacity:1;}
}
@-webkit-keyframes appear-123004 {
	0% {opacity:0;}
	6% {opacity:0;}
	18% {opacity:0;}
	22% {opacity:0;}
	32% {opacity:0;}
	40% {opacity:0;}
	49% {opacity:0;}
	53% {opacity:0;}
	61% {opacity:1;}
	69% {opacity:1;}
	79% {opacity:1;}
	83% {opacity:1;}
	96% {opacity:1;}
	100% {opacity:1;}
}
@keyframes appear-123005 {
	0% {opacity:0;}
	10% {opacity:0;}
	19% {opacity:0;}
	28% {opacity:0;}
	38% {opacity:0;}
	46% {opacity:0;}
	56% {opacity:0;}
	64% {opacity:0;}
	74% {opacity:0;}
	82% {opacity:0;}
	92% {opacity:0;}
	100% {opacity:0;}
}
@-webkit-keyframes appear-123005 {
	0% {opacity:0;}
	10% {opacity:0;}
	19% {opacity:0;}
	28% {opacity:0;}
	38% {opacity:0;}
	46% {opacity:0;}
	56% {opacity:0;}
	64% {opacity:0;}
	74% {opacity:0;}
	82% {opacity:0;}
	92% {opacity:0;}
	100% {opacity:0;}
}
#item51525 {
	opacity:0.97;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#ed3333;
}

#item108265 {
	width:54px !important;
	height:6px !important;
	left:608px !important;
	top:460px !important;
	background:#f43513;
}

#item101638 {
	width:1668px !important;
	height:2224px !important;
	background:#fff8f5;
}

#item102022 {
	width:1668px !important;
	height:2232px !important;
	top:-8px !important;
	background:#f8f7fa;
}

#item101639 {
	width:54px !important;
	height:6px !important;
	left:1508px !important;
	top:460px !important;
	background:#ff4849;
}

#item51474 {
	opacity:0.95;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#f43513;
}

#item117824 {
	width:903px !important;
	height:1168px !important;
	left:66px !important;
	top:736px !important;
}

#item117377 {
	width:1668px !important;
	height:170px !important;
	top:22px !important;
	background:#fff;
}

#item95810 {
	opacity:0.95;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#ed3333;
}

@keyframes spin-96366 {
	100% {transform:rotate(360deg);}
	0% {transform:rotate(0deg);}
}
@-webkit-keyframes spin-96366 {
	100% {-webkit-transform:rotate(360deg);}
	0% {-webkit-transform:rotate(0deg);}
}
@keyframes spin-96367 {
	100% {transform:rotate(360deg);}
	0% {transform:rotate(0deg);}
}
@-webkit-keyframes spin-96367 {
	100% {-webkit-transform:rotate(360deg);}
	0% {-webkit-transform:rotate(0deg);}
}
@keyframes spin-96368 {
	100% {transform:rotate(360deg);}
	0% {transform:rotate(0deg);}
}
@-webkit-keyframes spin-96368 {
	100% {-webkit-transform:rotate(360deg);}
	0% {-webkit-transform:rotate(0deg);}
}
#item51369 {
	opacity:0.95;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#ed3333;
}

@keyframes fadein-120929 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120929 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120932 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120932 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120935 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120935 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120980 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120980 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120984 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120984 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120991 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120991 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120994 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120994 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120996 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120996 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-121001 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-121001 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120986 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120986 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-120988 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-120988 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item51292 {
	opacity:0.95;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#f43513;
}

#item104336 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item96892 {
	opacity:0.20;
	width:282px !important;
	height:282px !important;
	left:-690px !important;
	top:572px !important;
}

#item105110 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item105519 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item105778 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item106036 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item106293 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item106566 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item106830 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item107415 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item107084 {
	width:94px !important;
	height:2223px !important;
	left:-382px !important;
	background:#000;
}

#item90064 {
	opacity:0.20;
	width:282px !important;
	height:282px !important;
	left:-690px !important;
	top:572px !important;
}

#item100433 {
	opacity:0.95;
	width:968px !important;
	height:276px !important;
	top:1702px !important;
	background:#ed3333;
}

#item100568 {
	width:1668px !important;
	height:2224px !important;
	background:#ff4849;
}

#item100593 {
	width:54px !important;
	height:6px !important;
	left:1514px !important;
	top:460px !important;
	background:#fff;
}

#item100596 {
	width:54px !important;
	height:3px !important;
	left:100px !important;
	top:98px !important;
	background:#fff;
}

#item92215 {
	width:669px !important;
	height:2224px !important;
	top:-1px !important;
	background:#ed3333;
}

#item95397 {
	width:177px !important;
	height:92px !important;
	top:444px !important;
	background:#000;
}

#item95399 {
	width:177px !important;
	height:537px !important;
	left:270px !important;
	background:#000;
}

#item95384 {
	width:200px !important;
	height:70px !important;
	background:#000;
}

#item95385 {
	width:222px !important;
	height:70px !important;
	left:952px !important;
	background:#000;
}

#item95386 {
	width:329px !important;
	height:70px !important;
	left:431px !important;
	background:#000;
}

#item95387 {
	width:70px !important;
	height:329px !important;
	left:690px !important;
	background:#000;
}

#item95388 {
	width:200px !important;
	height:70px !important;
	top:130px !important;
	background:#000;
}

#item95389 {
	width:200px !important;
	height:70px !important;
	top:260px !important;
	background:#000;
}

#item95390 {
	width:329px !important;
	height:70px !important;
	left:431px !important;
	top:260px !important;
	background:#000;
}

#item95391 {
	width:70px !important;
	height:200px !important;
	left:130px !important;
	background:#000;
}

#item95392 {
	width:70px !important;
	height:200px !important;
	top:130px !important;
	background:#000;
}

#item95393 {
	width:70px !important;
	height:224px !important;
	left:1105px !important;
	top:122px !important;
	background:#000;
}

#item95403 {
	width:368px !important;
	height:349px !important;
	left:502px !important;
	background:#ffffff;
	border:solid 4px #000;
}

#item95408 {
	width:354px !important;
	height:349px !important;
	left:20px !important;
	background:#ffffff;
	border:solid 4px #000;
}

#item97670 {
	width:263px !important;
	height:142px !important;
	left:1px !important;
	top:140px !important;
	border:dashed 2px #ce2626;
}

#item97675 {
	width:234px !important;
	height:372px !important;
	left:299px !important;
	border:solid 1px #000;
}

#item97676 {
	width:117px !important;
	height:113px !important;
	left:357px !important;
	top:129px !important;
	background:#000;
}

#item97678 {
	width:234px !important;
	height:372px !important;
	border:solid 1px #000;
}

#item97679 {
	width:117px !important;
	height:113px !important;
	left:58px !important;
	top:113px !important;
	background:#000;
}

#item86826 {
	opacity:0.20;
	width:282px !important;
	height:282px !important;
	left:1706px !important;
	top:1480px !important;
}

#item94498 {
	opacity:0.20;
	width:282px !important;
	height:282px !important;
	left:1706px !important;
	top:1480px !important;
}
#in5footer,  #prefooter {display:none;}
